<!DOCTYPE html>
<html>
<head>
  <link href="css/buttonToggle.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="css/index.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<div id="myDIV" class="header">
  <h2 style="margin:5px">PManager</h2>
  <input type="text" class="addr" id="myInput" placeholder="Address">
  <span class="addBtn">Add Property</span>
</div>


<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <form id="addform" method="post" action="/add">
      <input type="text" id="addressHolder" name="address"></input>
      <input type="text" id="tname" placeholder="Tenant Name" name="tname"></input>
      <input type="text" id="pdate" placeholder="Date of Purchase" name="pdate"></input>
      <input type="text" id="mrent" placeholder="Monthly Rent Amount $" name="mrent"></input>
      <button type="submit" id="myBtn">Add Property</button>
    </form>
  </div>
</div> 

<div id="myModal2" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <form id="addform2" method="post" action="/add">
      <input type="text" id="january" name="january" placeholder="January"></input>
      <input type="text" id="february" name="february" placeholder="February"></input>
      <input type="text" id="march" name="march" placeholder="March"></input>
      <input type="text" id="april" name="april" placeholder="April"></input>
      <input type="text" id="may" name="may" placeholder="May"></input>
      <input type="text" id="june" name="june" placeholder="June"></input>
      <input type="text" id="july" name="july" placeholder="July"></input>
      <input type="text" id="august" name="august" placeholder="August"></input>
      <input type="text" id="september" name="september" placeholder="September"></input>
      <input type="text" id="october" name="october" placeholder="October"></input>
      <input type="text" id="november" name="november" placeholder="November"></input>
      <input type="text" id="december" name="december" placeholder="December"></input>
      <button type="submit" id="myBtn2">Add Rent History</button>
    </form>
  </div>
</div>  


<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Index</th>
                <th>Address</th>
                <th>January</th>
                <th>February</th>
                <th>March</th>
                <th>April</th>
                <th>May</th>
                <th>June</th>
                <th>July</th>
                <th>August</th>
                <th>September</th>
                <th>October</th>
                <th>November</th>
                <th>December</th>
            </tr>
        </thead>
        <tbody>
            {{#each prop}}
            <tr>
                <td>{{@index}}</td>
                <td>
                  <div>Address: {{address}}<br> Tennant Name: {{name}}<br> Purchase Date: {{pdate}}<br> Monthly Rent: {{rent}}</div>
                    <button class="rentHistBtn" type="button" onclick="rentHist({{@index}})">See Rent History</button>
                </td>
                <td>
                  <form id="{{address}}januaryform" method="post" action="/updateRent">
                  <input type="hidden" name="address" value="{{address}}"></input> 
                  <input type="hidden" name="month" value="january"></input>
                  <label class="switch">      
                    <input id="{{address}}january" onclick="check('{{address}}januaryform')" type="checkbox">
                    <span class="slider round"></span>
                  </label>
                  </form>
                </td>
                <td>
                 <form id="{{address}}februaryform" method="post" action="/updateRent">
                  <input type="hidden" name="address" value="{{address}}"></input> 
                  <input type="hidden" name="month" value="february"></input>
                  <label class="switch">      
                    <input id="{{address}}february" onclick="check('{{address}}februaryform')" type="checkbox">
                    <span class="slider round"></span>
                  </label>
                  </form>
                </td>
                <td>
                  <form id="{{address}}marchform" method="post" action="/updateRent">
                  <input type="hidden" name="address" value="{{address}}"></input> 
                  <input type="hidden" name="month" value="march"></input>
                  <label class="switch">      
                    <input id="{{address}}march" onclick="check('{{address}}marchform')" type="checkbox">
                    <span class="slider round"></span>
                  </label>
                  </form>
                </td>
                <td>
                  <form id="{{address}}aprilform" method="post" action="/updateRent">
                  <input type="hidden" name="address" value="{{address}}"></input> 
                  <input type="hidden" name="month" value="april"></input>
                  <label class="switch">      
                    <input id="{{address}}april" onclick="check('{{address}}aprilform')" type="checkbox">
                    <span class="slider round"></span>
                  </label>
                  </form>
                </td>
                <td>
                  <form id="{{address}}mayform" method="post" action="/updateRent">
                  <input type="hidden" name="address" value="{{address}}"></input> 
                  <input type="hidden" name="month" value="may"></input>
                  <label class="switch">      
                    <input id="{{address}}may" onclick="check('{{address}}mayform')" type="checkbox">
                    <span class="slider round"></span>
                  </label>
                  </form>
                </td>
                <td>
                  <form id="{{address}}juneform" method="post" action="/updateRent">
                  <input type="hidden" name="address" value="{{address}}"></input> 
                  <input type="hidden" name="month" value="june"></input>
                  <label class="switch">      
                    <input id="{{address}}june" onclick="check('{{address}}juneform')" type="checkbox">
                    <span class="slider round"></span>
                  </label>
                  </form>
                </td>
                <td>
                  <form id="{{address}}julyform" method="post" action="/updateRent">
                  <input type="hidden" name="address" value="{{address}}"></input> 
                  <input type="hidden" name="month" value="july"></input>
                  <label class="switch">      
                    <input id="{{address}}july" onclick="check('{{address}}julyform')" type="checkbox">
                    <span class="slider round"></span>
                  </label>
                  </form>
                </td>
                <td>
                  <form id="{{address}}augustform" method="post" action="/updateRent">
                  <input type="hidden" name="address" value="{{address}}"></input> 
                  <input type="hidden" name="month" value="august"></input>
                  <label class="switch">      
                    <input id="{{address}}august" onclick="check('{{address}}augustform')" type="checkbox">
                    <span class="slider round"></span>
                  </label>
                  </form>
                </td>
                <td>
                  <form id="{{address}}septemberform" method="post" action="/updateRent">
                  <input type="hidden" name="address" value="{{address}}"></input> 
                  <input type="hidden" name="month" value="september"></input>
                  <label class="switch">      
                    <input id="{{address}}september" onclick="check('{{address}}septemberform')" type="checkbox">
                    <span class="slider round"></span>
                  </label>
                  </form>
                </td>
                <td>
                  <form id="{{address}}octoberform" method="post" action="/updateRent">
                  <input type="hidden" name="address" value="{{address}}"></input> 
                  <input type="hidden" name="month" value="october"></input>
                  <label class="switch">      
                    <input id="{{address}}october" onclick="check('{{address}}octoberform')" type="checkbox">
                    <span class="slider round"></span>
                  </label>
                  </form>
                </td>
                <td>
                  <form id="{{address}}novemberform" method="post" action="/updateRent">
                  <input type="hidden" name="address" value="{{address}}"></input> 
                  <input type="hidden" name="month" value="november"></input>
                  <label class="switch">      
                    <input id="{{address}}november" onclick="check('{{address}}novemberform')" type="checkbox">
                    <span class="slider round"></span>
                  </label>
                  </form>
                </td>
                <td>
                  <form id="{{address}}decemberform" method="post" action="/updateRent">
                  <input type="hidden" name="address" value="{{address}}"></input> 
                  <input type="hidden" name="month" value="december"></input>
                  <label class="switch">      
                    <input id="{{address}}december" onclick="check('{{address}}decemberform')" type="checkbox">
                    <span class="slider round"></span>
                  </label>
                  </form>
                </td>    
            </tr>
            <script>
              $(document).ready(function () {
                if ({{january}}==true) {        
                  $('#{{address}}january').prop('checked',true);
                } 
                if ({{february}}==true) {
                 
                  $('#{{address}}february').prop('checked',true);
                }
                if ({{march}}==true) {
                 
                  $('#{{address}}march').prop('checked',true);
                }
                if ({{april}}==true) {
                 
                  $('#{{address}}april').prop('checked',true);
                }
                if ({{may}}==true) {
                 
                  $('#{{address}}may').prop('checked',true);
                }
                if ({{june}}==true) {
                 
                  $('#{{address}}june').prop('checked',true);
                }
                if ({{july}}==true) {
                 
                  $('#{{address}}july').prop('checked',true);
                }
                if ({{august}}==true) {
                 
                  $('#{{address}}august').prop('checked',true);
                }
                if ({{september}}==true) {
                 
                  $('#{{address}}september').prop('checked',true);
                }
                if ({{october}}==true) {
                 
                  $('#{{address}}october').prop('checked',true);
                }
                if ({{november}}==true) {
                 
                  $('#{{address}}november').prop('checked',true);
                }
                if ({{december}}==true) {
                 
                  $('#{{address}}december').prop('checked',true);
                }
              });       
            </script>
            {{/each}}
          </tbody>
</table>

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<script src="js/index.js"></script>
<script src="js/modal.js"></script> 
<script src="js/rentTable.js"></script> 

</body>
</html>
